.large-shoe img {
    width: 700px;
}
.title-font {
    font-family: 'Croissant One', cursive;
}
.body-font {
    font-family: 'Roboto', sans-serif;
}
#shopping {
    width: 30px;
}
.cart-logo img {
    width: 100%;
}
.mono-card img {
    width: 100px;
}